@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.wrapper{
  height: 100%;
  width: 300px;
  position: relative;
  display: flex;
}
.wrapper .menu-btn{
  position: absolute;
  left: 20px;
  top: 10px;
  background: #4a4a4a;
  color: #fff;
  height: 45px;
  width: 45px;
  z-index: 9999;
  border: 1px solid #333;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
#btn:checked ~ .menu-btn{
  left: 247px;
}
.wrapper .menu-btn i{
  position: absolute;
  transform: none;
  font-size: 23px;
  transition: all 0.3s ease;
}
.wrapper .menu-btn i.fa-times{
  opacity: 0;
}
#btn:checked ~ .menu-btn i.fa-times{
  opacity: 1;
  transform: rotate(-180deg);
}
#btn:checked ~ .menu-btn i.fa-bars{
  opacity: 0;
  transform: rotate(180deg);
}
#sidebar{
  position: fixed;
  background: #404040;
  height: 100%;
  width: 270px;
  overflow: hidden;
  left: -270px;
  transition: all 0.3s ease;
}
#btn:checked ~ #sidebar{
  left: 0;
}
#sidebar .title{
  line-height: 65px;
  text-align: center;
  background: #333;
  font-size: 25px;
  font-weight: 600;
  color: #f2f2f2;
  border-bottom: 1px solid #222;
}
#sidebar .list-items{
  position: relative;
  background: #404040;
  width: 100%;
  height: 100%;
  list-style: none;
}
#sidebar .list-items li{
  padding-left: 40px;
  line-height: 50px;
  border-top: 1px solid rgba(255,255,255,0.1);
  border-bottom: 1px solid #333;
  transition: all 0.3s ease;
}
#sidebar .list-items li:hover{
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  box-shadow: 0 0px 10px 3px #222;
}
#sidebar .list-items li:first-child{
  border-top: none;
}
#sidebar .list-items li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  height: 100%;
  width: 100%;
  display: block;
}
#sidebar .list-items li a i{
  margin-right: 20px;
}
#sidebar .list-items .icons{
  width: 100%;
  height: 40px;
  text-align: center;
  position: absolute;
  bottom: 100px;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#sidebar .list-items .icons a{
  height: 100%;
  width: 40px;
  display: block;
  margin: 0 5px;
  font-size: 18px;
  color: #f2f2f2;
  background: #4a4a4a;
  border-radius: 5px;
  border: 1px solid #383838;
  transition: all 0.3s ease;
}
#sidebar .list-items .icons a:hover{
  background: #404040;
}
.list-items .icons a:first-child{
  margin-left: 0px;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding: 20px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #F8F9FA;
  color: #222222;
  font-weight: 400;
}

strong {
  font-weight: 700;
}

img {
  max-width: 100%;
}

p {
  font-size: 1.125rem;
  color: #222222;
  margin: 0 0 15px;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  color: #000000;
  font-size: 36px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 80px;
  }
}

h2 {
  color: #222222;
  font-size: 30px;
}

@media (min-width: 768px) {
  h2 {
    font-size: 60px;
  }
}

h3 {
  color: #444444;
  font-size: 24px;
}

@media (min-width: 768px) {
  h3 {
    font-size: 50px;
  }
}

h4 {
  color: #555555;
  font-size: 22px;
}

@media (min-width: 768px) {
  h4 {
    font-size: 40px;
  }
}

h5 {
  color: #666666;
  font-size: 20px;
}

@media (min-width: 768px) {
  h5 {
    font-size: 35px;
  }
}

h6 {
  color: #777777;
  font-size: 18px;
}

@media (min-width: 768px) {
  h6 {
    font-size: 32px;
  }
}

section {
  padding: 90px 15px;
}

a.cta {
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  background-color: #f72d3d;
  border: 1px solid #d41c2a;
  border-radius: 25px;
  color: #FFFFFF;
  text-transform: uppercase;
  display: inline-block;
  -webkit-box-shadow: rgba(100, 100, 111, 0.8) 0px 7px 19px 0px;
          box-shadow: rgba(100, 100, 111, 0.8) 0px 7px 19px 0px;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

a.cta:hover {
  background-color: #f75763;
  border: 1px solid #3b1215;
  color: #000000;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.container img {
  padding: 0.25rem;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
}

.banner {
  background: -webkit-gradient(linear, left top, right top, from(rgba(241, 157, 0, 0.8)), to(rgba(0, 0, 0, 0.5))), url(./pict/as.jpg) no-repeat;
  background: linear-gradient(90deg, rgba(241, 157, 0, 0.8), rgba(0, 0, 0, 0.5)), url(./pict/as.jpg) no-repeat;
  background-position: top right;
  background-size: cover;
}

.banner h1 {
  color: rgba(255, 255, 255, 0.85);
  text-transform: uppercase;
  font-weight: 700;
}

.banner p {
  color: #FFFFFF;
  font-size: 1.375rem;
  letter-spacing: 1.5px;
  font-weight: 100;
  text-shadow: 2px 2px 7px #222222;
}

.first {
  background-color: #FFFFFF;
  background-image: linear-gradient(315deg, #a7a8a8 0%, #E9EBEC 74%);
}

.first .container {
  max-width: 800px;
}

.second {
  background-color: #fff8e6;
}

.second .container {
  display: block;
}

@media (min-width: 768px) {
  .second .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 768px) {
  .second .container .left-img {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
}

@media (min-width: 768px) {
  .second .container .right-content {
    -ms-flex-preferred-size: 65%;
        flex-basis: 65%;
        margin-left: 20px;
  }
}

.second .container .right-content h2 {
  margin: 30px 0 0;
  
}

@media (min-width: 768px) {
  .second .container .right-content h2 {
    margin: 0;
  }
}

.third {
  background-color: #e6f5fc;
}

@media (min-width: 768px) {
  .third .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.third .container .left-content {
  -ms-flex-preferred-size: 68%;
      flex-basis: 68%;
}

.third .container .right-img {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.four {
  background-color: #c6fcb8;
}

.four .container {
  display: block;
}

@media (min-width: 768px) {
  .four .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.four .container .member {
  background-color: #c0c6fa;
  padding: 20px;
  margin: 0 0 60px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media (min-width: 768px) {
  .four .container .member {
    -ms-flex-preferred-size: 31%;
        flex-basis: 31%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .four .container .member h3 {
    font-size: 32px;
  }
}

.four .container .member .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.four .container .member .social a img {
  border: none;
  max-width: 40px;
}

.four .container .member .a {
  position: absolute;
}




